doctype html
html(lang='en', data-ng-controller='AppController')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Vidaloka&text=%26')
    link(rel='stylesheet', href='/assets/vendor/normalize-css/normalize.css')
    link(rel='stylesheet', href='/assets/css/styles.css')
    title(data-ng-bind='pageTitle') Ahmed Nuaman, a freelance developer, husband, father and dachshund wrestler
  body
    div#container
      :markdown
        # I'm Ahmed
        # A Freelance Developer
        # Distinguished [frontender](https://github.com/search?q=%40ahmednuaman+language%3Ajavascript+language%3Acoffeescript+language%3Aactionscript&type=Repositories&ref=searchresults)
        # [Backend](https://github.com/search?q=%40ahmednuaman+language%3Aphp+language%3Apython+language%3Aruby&type=Repositories&ref=searchresults) aficionado
        # Successful [architect](https://github.com/ahmednuaman/radian)
        # [Open source contributor](https://github.com/search?q=%40ahmednuaman+fork%3Aonly&type=Repositories&ref=searchresults)
        # Husband, [father](https://www.dropbox.com/s/34if6lxr77okn03/2013-09-12%2015.56.23.jpg) <span class="amp">&<span> [dachshund wrestler](https://www.dropbox.com/s/zah8t8n21aiibu7/2012-06-22%2021.36.22.jpg)

      hr

      :markdown
        ## I write great code
        I love what I do and I love writing good, well tested code. I'm partically fond (at the moment) of doing a lot
        of frontend development and have worked this last year mainly using the awesome AngularJS. I even wrote my own
        framework on top of it called [Radian](http://radian.io).

        ## I create great apps
        Whether it's a web site, native device app or an API, I love putting in time to research what's the best way to
        solve the problem. The recently launch of [Sky Store](http://skystore.com) is probably the largest and most
        visited AngularJS ever built, and it is built on a base framework I created.

        ## I've been around
        I've worked in agencies, corporations, start ups and open source projects. All these different scenes have
        helped me become a better collegue and leader as well as providing me with plenty of challenges, not just code
        based problems.

      h2 Language stats
      div.stats
        div.stat.stat-heavy
          h3 JavaScript and CoffeeScript
          h4 Heavyweight
        div.stat.stat-heavy
          h3 CSS3, SASS/SCSS, Less and Stylus
          h4 Heavyweight
        div.stat.stat-heavy
          h3 HTML5 and Jade
          h4 Heavyweight
        div.stat.stat-heavy
          h3 NodeJS, Python and PHP
          h4 Heavyweight
        div.stat.stat-middle
          h3 Ruby and Lua
          h4 Middleweight
        div.stat.stat-light
          h3 Objective C, C# and Android (Java)
          h4 Lightweight, baby

      h2 Latest and greatest work
        a.work.work-github(href='https://github.com/ahmednuaman')
        a.work.work-radian(href='http://radian.io')
        a.work.work-skystore(href='http://skystore.com')
        a.work.work-girlsaloud(href='http://girlsaloud.pandora.net')
        a.work.work-bbh(href='http://bbh.co.uk')

      h2 Getting in touch
      :markdown
        - Email: [ahmed@ahmednuaman.com](mailto:ahmed@ahmednuaman.com?subject=Enquiry from site)
        - Call: +44 7811 184 436
        - Skype: [ahmednuaman](skype:ahmednuaman)
        - Twitter: [@ahmednuaman](https://twitter.com/intent/user?screen_name=ahmednuaman)

        Also: [LinkedIn](http://uk.linkedin.com/in/ahmednuaman/), [stackoverflow](http://stackoverflow.com/users/398939/ahmed-nuaman) and [G+](https://plus.google.com/109868412062207779835/posts).

      hr
    script(src='assets/js/scripts.js')