doctype html
html(lang='en', data-ng-controller='AppController')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/assets/vendor/normalize-css/normalize.css')
    link(rel='stylesheet', href='/assets/css/styles.css')
    title(data-ng-bind='pageTitle') Ahmed Nuaman, a freelance developer, husband, father and dachshund wrestler
  body
    div#container
      :markdown
        # Hi, I'm Ahmed
        # Freelance developer
        # Husband & Father
        # Dachshund Wrestler

        ## I write great code
        I love what I do and I love writing good, well tested code. I'm partically fond (at the moment) of doing a lot
        of frontend development and have worked this last year maily using the awesome AngularJS. I even wrote my own
        framework on top of it called [Radian](http://radian.io).

        ## I've been around
        I've worked in agencies, corporations, start ups and open source projects. All these different scenes have
        helped me become a better collegue and leader as well as providing me with plenty of challenges, not just code
        based problems.

        ## Language stats

      div#language.chart
    script(src='assets/js/scripts.js')