.amp
  font-family: Vidaloka

.stats
  display: block
  float: left
  width: 100%
  margin-bottom: 2em

  .stat
    display: block
    float: left
    height: 150px
    padding-right: 75px
    width: 33.3%

    &.stat-middle
      opacity: .8

    &.stat-light
      opacity: .6

    h4
      font-style: italic

      &:before
        content: 'Exp: '
        font-style: normal

    +small
      width: 50%
      height: 100px

    +xsmall
      width: 100%
      height: auto

*
  +box-sizing(border-box)
  color: #333
  font-family: Helvetica, sans-serif

h1
  display: block
  letter-spacing: -2px
  line-height: normal
  margin: 0
  width: 100%

h1:first-child,
h2
  color: #000

h2
  display: block
  margin-top: 2em
  width: 100%

  &:first-of-type
    margin-top: 0

hr
  display: block
  border: 0
  border-top: 1px solid #999
  margin: 60px auto

  +small
    margin: 20px auto

p
  line-height: 1.5em

#container
  display: block
  position: relative
  max-width: 780px
  padding: 0 10px
  margin: 40px auto

  +small
    margin: 20px auto