@import url(http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911&text=%26);

.absolute {
    .block;
    position: absolute;
}

.amp {
    font-family: 'Goudy Bookletter 1911', Times, serif !important;
}

.animate(@name, @time: 500ms, @delay: 0s, @iteration: 1)
{
    -webkit-animation: @name @time cubic-bezier(.000, .000, .000, .995) @delay @iteration normal none;
       -moz-animation: @name @time cubic-bezier(.000, .000, .000, .995) @delay @iteration normal none;
        -ms-animation: @name @time cubic-bezier(.000, .000, .000, .995) @delay @iteration normal none;
         -o-animation: @name @time cubic-bezier(.000, .000, .000, .995) @delay @iteration normal none;
            animation: @name @time cubic-bezier(.000, .000, .000, .995) @delay @iteration normal none; /* custom */
}

.block {
    display: block;
}

.centre {
    margin: 0 auto;
}

.ease-out(@prop: all, @time: 500ms)
{
    -webkit-transition: @prop @time cubic-bezier(.000, .000, .000, .995);
       -moz-transition: @prop @time cubic-bezier(.000, .000, .000, .995);
        -ms-transition: @prop @time cubic-bezier(.000, .000, .000, .995);
         -o-transition: @prop @time cubic-bezier(.000, .000, .000, .995);
            transition: @prop @time cubic-bezier(.000, .000, .000, .995); /* custom */
}

.fixed {
    .block;
    position: fixed;
}

.georgia {
    font-family: Georgia, Times, serif;
    font-style: italic;
    font-weight: lighter;
}

.left {
    .block;
    float: left;
}

.relative {
    .block;
    position: relative;
}

.right {
    .block;
    float: right !important;
}

.row {
    width: 100%;
    clear: both;
    margin: 0;
}

.span1 {
    .left;
    width: 25%;
}

.span2 {
    .left;
    width: 50%;
}

.sprite {
    background-repeat: no-repeat;
}

body,
p,
li,
a {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 9pt;
    line-height: 14pt;
}

html,
body {
    background-color: #f8f3f1;
}

h1 {
    .georgia;
    font-size: 41pt;
    font-weight: bold;
    letter-spacing: -1px;

    span {
        display: inline-block;
    }
    span:first-letter,
    span::first-letter {
        font-size: 65pt;
        text-transform: lowercase;
        font-weight: lighter;
        letter-spacing: -3px;
    }
}

#header #hero {
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        display: block;
        list-style: none;
        text-align: center;
        text-transform: capitalize;
        line-height: normal;
        font-weight: lighter;
    }
}

#content {
    border-top: 1px solid #333333;
}

#contact {
    top: 0;
    left: 0;
    background: #333333;
    width: 100%;

    a.banner-contact {
        .absolute;
    }
    #contain-details {
        * {
            .georgia;
            color: #ffffff;
            text-decoration: none;
        }
        h3 {
            display: none;
        }
    }
    &:hover {
        margin-top: 0;
    }
}

@media screen and (min-width: 960px) {
    h1 {
        font-size: 23pt;

        span:first-letter,
        span::first-letter {
            font-size: 44pt;
            letter-spacing: -2px;
        }
    }

    #container {
        margin: 150px auto;
        width: 960px;
    }

    #header #hero {
        height: 190px;

        li {
            font-size: 71px;
            height: 71px;
            letter-spacing: -4px;
            padding: 60px 0;
            line-height: 71px;
        }
    }

    #content {
        width: 940px;
        padding: 0 10px;
    }

    #contact {
        /*margin-top: -86px;*/

        #contain-details {
            padding: 15px 0;
            height: 30px;
            width: 600px;

            * {
                font-size: 14pt;
                line-height: 22pt;
            }
            .sprite {
                box-sizing: background-box;
            }
        }
    }
}

.cssanimations {
    @-webkit-keyframes hero-move {
        77% { margin-top: -955px; }
        7% { margin-top: 0px; }
        49% { margin-top: -573px; }
        91% { margin-top: -1146px; }
        42% { margin-top: -573px; }
        100% { margin-top: 0px; }
        28% { margin-top: -382px; }
        35% { margin-top: -382px; }
        21% { margin-top: -191px; }
        84% { margin-top: -1146px; }
        14% { margin-top: -191px; }
        63% { margin-top: -764px; }
        0% { margin-top: 0px; }
        70% { margin-top: -955px; }
        56% { margin-top: -764px; }
        98% { margin-top: 0px; }
    }

    @-moz-keyframes hero-move {
        77% { margin-top: -955px; }
        7% { margin-top: 0px; }
        49% { margin-top: -573px; }
        91% { margin-top: -1146px; }
        42% { margin-top: -573px; }
        100% { margin-top: 0px; }
        28% { margin-top: -382px; }
        35% { margin-top: -382px; }
        21% { margin-top: -191px; }
        84% { margin-top: -1146px; }
        14% { margin-top: -191px; }
        63% { margin-top: -764px; }
        0% { margin-top: 0px; }
        70% { margin-top: -955px; }
        56% { margin-top: -764px; }
        98% { margin-top: 0px; }
    }

    @-ms-keyframes hero-move {
        77% { margin-top: -955px; }
        7% { margin-top: 0px; }
        49% { margin-top: -573px; }
        91% { margin-top: -1146px; }
        42% { margin-top: -573px; }
        100% { margin-top: 0px; }
        28% { margin-top: -382px; }
        35% { margin-top: -382px; }
        21% { margin-top: -191px; }
        84% { margin-top: -1146px; }
        14% { margin-top: -191px; }
        63% { margin-top: -764px; }
        0% { margin-top: 0px; }
        70% { margin-top: -955px; }
        56% { margin-top: -764px; }
        98% { margin-top: 0px; }
    }

    @-o-keyframes hero-move {
        77% { margin-top: -955px; }
        7% { margin-top: 0px; }
        49% { margin-top: -573px; }
        91% { margin-top: -1146px; }
        42% { margin-top: -573px; }
        100% { margin-top: 0px; }
        28% { margin-top: -382px; }
        35% { margin-top: -382px; }
        21% { margin-top: -191px; }
        84% { margin-top: -1146px; }
        14% { margin-top: -191px; }
        63% { margin-top: -764px; }
        0% { margin-top: 0px; }
        70% { margin-top: -955px; }
        56% { margin-top: -764px; }
        98% { margin-top: 0px; }
    }

    @keyframes hero-move {
        77% { margin-top: -955px; }
        7% { margin-top: 0px; }
        49% { margin-top: -573px; }
        91% { margin-top: -1146px; }
        42% { margin-top: -573px; }
        100% { margin-top: 0px; }
        28% { margin-top: -382px; }
        35% { margin-top: -382px; }
        21% { margin-top: -191px; }
        84% { margin-top: -1146px; }
        14% { margin-top: -191px; }
        63% { margin-top: -764px; }
        0% { margin-top: 0px; }
        70% { margin-top: -955px; }
        56% { margin-top: -764px; }
        98% { margin-top: 0px; }
    }

    #header #hero li:first-child {
        .animate(hero-move, 15s, 1s, infinite);
    }
}

.csstransitions {
    #contact {
        .ease-out(margin-top);
    }
}

.svg {
    .icon {
        display: inline-block;
        padding-left: 1.75em;
        height: 2em;

        &.icon-phone {
            background-position: -27em -4em;
        }
        &.icon-pin {
            background-position: -27em -2em;
        }
        &.icon-twitter {
            background-position: -27em -0em;
        }
        &.icon-email {
            background-position: -27em -6.2em;
        }
    }

    .sprite {
        background-image: url(/assets/img/sprite.svgz);
        background-size: 40em 10em;
    }

    #contact a.banner-contact {
        bottom: -4.6em;
        right: -7em;
        width: 7em;
        height: 3.5em;
    }
}

.no-svg .sprite {
    background-image: url(/assets/img/sprite.png);
    background-size: 640px 160px;
}