@import url(http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911&text=%26);

.absolute {
    .block;
    position: absolute;
}

.amp {
    font-family: 'Goudy Bookletter 1911', Times, serif !important;
}

.block {
    display: block;
}

.centre {
    margin: 0 auto;
}

.ease-out(@prop: all, @time: 500ms)
{
    -webkit-transition: @prop @time cubic-bezier(.000, .000, .000, .995);
       -moz-transition: @prop @time cubic-bezier(.000, .000, .000, .995);
        -ms-transition: @prop @time cubic-bezier(.000, .000, .000, .995);
         -o-transition: @prop @time cubic-bezier(.000, .000, .000, .995);
            transition: @prop @time cubic-bezier(.000, .000, .000, .995); /* custom */
}

.fixed {
    .block;
    position: fixed;
}

.georgia {
    font-family: Georgia, Times, serif;
    font-style: italic;
    font-weight: lighter;
}

.left {
    .block;
    float: left;
}

.relative {
    .block;
    position: relative;
}

.right {
    .block;
    float: right !important;
}

.row {
    width: 100%;
    clear: both;
    margin: 0;
}

.span1 {
    .left;
    width: 25%;
}

.span2 {
    .left;
    width: 50%;
}

body,
p,
li {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 9pt;
    line-height: 14pt;
}

html,
body {
    background-color: #f8f3f1;
}

h1 {
    .georgia;
    font-size: 41pt;
    font-weight: bold;
    letter-spacing: -1px;

    span {
        display: inline-block;
    }
    span:first-letter,
    span::first-letter {
        font-size: 65pt;
        text-transform: lowercase;
        font-weight: lighter;
        letter-spacing: -3px;
    }
}

#contact {
    top: 0;
    left: 0;
    background: #333333;
    width: 100%;

    > a {
        .absolute;
    }
    #contain-details {
        * {
            .georgia;
            color: #ffffff;
            text-decoration: none;
        }
        h3 {
            display: none;
        }
    }
    &:hover {
        margin-top: 0;
    }
}

#header #hero {
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        list-style: none;
        text-align: center;
        text-transform: capitalize;
        line-height: normal;
        font-weight: lighter;
    }
}

@media screen and (min-width: 960px) {
    h1 {
        font-size: 23pt;

        span:first-letter,
        span::first-letter {
            font-size: 44pt;
            letter-spacing: -2px;
        }
    }

    #container {
        margin: 10em auto;
        width: 60em;
    }

    #header #hero {
        height: 15em;

        li {
            font-size: 54pt;
            letter-spacing: -4px;
            padding: .6em 0;
        }
    }

    #contact {
        margin-top: -7.6em;

        > a {
            bottom: -3.5em;
            right: 20em;
            width: 7em;
            height: 3.5em;
        }
        #contain-details {
            padding: 1em 0 .6em;
            height: 6em;
            width: 41em;

            * {
                font-size: 14pt;
                line-height: 22pt;
            }
        }
    }
}

.csstransitions {
    #contact {
        .ease-out(margin-top);
    }
}

.svg {
    .icon {
        display: inline-block;
        padding-left: 1.75em;
        height: 2em;

        &.icon-phone {
            background-position: -27em -4em;
        }
        &.icon-pin {
            background-position: -27em -2em;
        }
        &.icon-twitter {
            background-position: -27em -0em;
        }
        &.icon-email {
            background-position: -27em -6em;
        }
    }

    .sprite {
        background-image: url(/assets/img/sprite.svgz);
        background-size: 40em 10em;
    }
}

.no-svg .sprite {
    background-image: url(/assets/img/sprite.png);
    background-size: 640px 160px;
}