@import url(http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911&text=%26);
.absolute {
  display: block;
  position: absolute;
}
.amp {
  font-family: 'Goudy Bookletter 1911', Times, serif !important;
}
.block {
  display: block;
}
.centre {
  margin: 0 auto;
}
.fixed {
  display: block;
  position: fixed;
}
.georgia {
  font-family: Georgia, Times, serif;
  font-style: italic;
  font-weight: lighter;
}
.left {
  display: block;
  float: left;
}
.relative {
  display: block;
  position: relative;
}
.right {
  display: block;
  float: right !important;
}
.row {
  display: block;
  float: left;
  width: 100%;
  clear: both;
  margin: 0;
}
.span1 {
  display: block;
  float: left;
  width: 25%;
}
.span2 {
  display: block;
  float: left;
  width: 50%;
}
.sprite {
  background-repeat: no-repeat;
}
body,
p,
li,
a {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 9pt;
  line-height: 14pt;
}
html,
body {
  background-color: #f8f3f1;
}
h1,
h2,
h3 {
  font-family: Georgia, Times, serif;
  font-style: italic;
  font-weight: lighter;
}
h1 {
  font-weight: bold;
  padding-left: 10px;
}
h1 span {
  display: inline-block;
}
h1 span:first-letter,
h1 span::first-letter {
  text-transform: lowercase;
  font-weight: lighter;
}
#header #hero {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#header #hero li {
  display: block;
  list-style: none;
  text-align: center;
  text-transform: capitalize;
  line-height: normal;
  font-weight: lighter;
}
#content {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
#content #work {
  border-bottom: 1px solid #333333;
}
#content #work a {
  text-decoration: none;
}
#content #work a span {
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-weight: lighter;
  opacity: 0;
}
#content #work a:hover span {
  opacity: 1;
}
#footer ul {
  padding: 0;
}
#footer li {
  margin: 0 0 5px 0;
  list-style: none;
}
#footer li:before {
  content: '– ';
}
#footer a.instagram-pic {
  display: block;
  width: 150px;
  height: 150px;
  border: solid 10px #ffffff;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
#footer a.instagram-pic span {
  display: none;
}
#footnote {
  text-align: center;
}
#footnote * {
  font-size: 8pt;
}
#contact {
  top: 0;
  left: 0;
  background: #333333;
  width: 100%;
}
#contact a.banner-contact {
  display: block;
  position: absolute;
}
#contact #contact-details * {
  font-family: Georgia, Times, serif;
  font-style: italic;
  font-weight: lighter;
  color: #ffffff;
  text-decoration: none;
}
#contact #contact-details h3 {
  display: none;
}
#contact:hover {
  margin-top: 0;
}
@media (max-width: 480px) {
  h1 {
    font-size: 18pt;
  }
  h1 span:first-letter,
  h1 span::first-letter {
    font-size: 28pt;
    letter-spacing: -2px;
  }
  #container {
    margin-top: 60px;
  }
  #header #hero {
    display: none;
  }
  #work {
    width: 100%;
  }
  #work a {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  #work a span {
    font-size: 20px;
    letter-spacing: -1px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 90px 0;
  }
  #bio {
    margin: 20px 10px;
  }
  #bio .span2 {
    margin-right: 5%;
    width: auto;
  }
  #footer {
    display: none;
  }
  #contact #contact-details {
    padding: 6px 0;
    height: 30px;
    width: 80%;
  }
  #contact #contact-details * {
    font-size: 10pt;
    line-height: 18pt;
  }
  #contact a.banner-contact {
    display: none;
  }
  .blog #content h2 {
    padding-left: 10px;
    font-size: 16pt;
    line-height: normal;
  }
  .blog #content #blog-entries {
    margin: 0 0 30px;
    padding: 0;
  }
  .blog #content #blog-entries li {
    list-style: none;
    margin: 15px 0;
    width: 100%;
  }
  .blog #content #blog-entries li a {
    display: block;
    float: left;
    -webkit-transition: background 500ms cubic-bezier(0, 0, 0, 0.995);
    -moz-transition: background 500ms cubic-bezier(0, 0, 0, 0.995);
    -ms-transition: background 500ms cubic-bezier(0, 0, 0, 0.995);
    -o-transition: background 500ms cubic-bezier(0, 0, 0, 0.995);
    transition: background 500ms cubic-bezier(0, 0, 0, 0.995);
    /* custom */
  
    width: auto;
    padding: 10px;
    text-decoration: none;
    background: transparent;
  }
  .blog #content #blog-entries li a h3 {
    font-size: 14pt;
    line-height: 18pt;
    margin-top: 0;
  }
  .blog #content #blog-entries li a:hover {
    background: #ffffff;
  }
}
@media (min-width: 481px) {
  h1 {
    font-size: 23pt;
  }
  h1 span:first-letter,
  h1 span::first-letter {
    font-size: 44pt;
    letter-spacing: -2px;
  }
  .blog #content h2 {
    padding-left: 10px;
    font-size: 16pt;
    line-height: normal;
  }
  .blog #content #blog-entries {
    margin: 0 0 30px;
    padding: 0;
  }
  .blog #content #blog-entries li {
    list-style: none;
    margin: 15px 0;
  }
  .blog #content #blog-entries li a {
    display: block;
    float: left;
    -webkit-transition: background 500ms cubic-bezier(0, 0, 0, 0.995);
    -moz-transition: background 500ms cubic-bezier(0, 0, 0, 0.995);
    -ms-transition: background 500ms cubic-bezier(0, 0, 0, 0.995);
    -o-transition: background 500ms cubic-bezier(0, 0, 0, 0.995);
    transition: background 500ms cubic-bezier(0, 0, 0, 0.995);
    /* custom */
  
    width: auto;
    padding: 10px;
    height: 150px;
    text-decoration: none;
    background: transparent;
  }
  .blog #content #blog-entries li a h3 {
    font-size: 14pt;
    line-height: 18pt;
    margin-top: 0;
  }
  .blog #content #blog-entries li a:hover {
    background: #ffffff;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  #container {
    margin: 70px 10px;
    width: auto;
  }
  #header #hero {
    height: 100px;
  }
  #header #hero li {
    font-size: 40px;
    height: 40px;
    letter-spacing: -2px;
    padding: 30px 0;
    line-height: 40px;
  }
  #work {
    width: 100%;
  }
  #work a {
    width: 50%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  #work a span {
    font-size: 20px;
    letter-spacing: -1px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 90px 0;
  }
  #bio {
    margin: 20px 10px;
  }
  #bio .span2 {
    margin-right: 5%;
    width: 45%;
  }
  #footer {
    padding: 0 10px 20px;
    margin-bottom: 30px;
  }
  #footer .span1 {
    margin-right: 3%;
    width: 30%;
  }
  #footer .span1:last-child {
    display: none;
  }
  #contact #contact-details {
    padding: 6px 0;
    height: 30px;
    width: 80%;
  }
  #contact #contact-details * {
    font-size: 12pt;
    line-height: 20pt;
  }
  #contact a.banner-contact {
    display: none;
  }
  @-webkit-keyframes hero-move {
    77% {
      margin-top: -500px;
    }
    7% {
      margin-top: 0px;
    }
    49% {
      margin-top: -300px;
    }
    91% {
      margin-top: -600px;
    }
    42% {
      margin-top: -300px;
    }
    100% {
      margin-top: 0px;
    }
    28% {
      margin-top: -200px;
    }
    35% {
      margin-top: -200px;
    }
    21% {
      margin-top: -100px;
    }
    84% {
      margin-top: -600px;
    }
    14% {
      margin-top: -100px;
    }
    63% {
      margin-top: -400px;
    }
    0% {
      margin-top: 0px;
    }
    70% {
      margin-top: -500px;
    }
    56% {
      margin-top: -400px;
    }
    98% {
      margin-top: 0px;
    }
  }
  @-moz-keyframes hero-move {
    77% {
      margin-top: -500px;
    }
    7% {
      margin-top: 0px;
    }
    49% {
      margin-top: -300px;
    }
    91% {
      margin-top: -600px;
    }
    42% {
      margin-top: -300px;
    }
    100% {
      margin-top: 0px;
    }
    28% {
      margin-top: -200px;
    }
    35% {
      margin-top: -200px;
    }
    21% {
      margin-top: -100px;
    }
    84% {
      margin-top: -600px;
    }
    14% {
      margin-top: -100px;
    }
    63% {
      margin-top: -400px;
    }
    0% {
      margin-top: 0px;
    }
    70% {
      margin-top: -500px;
    }
    56% {
      margin-top: -400px;
    }
    98% {
      margin-top: 0px;
    }
  }
  @-ms-keyframes hero-move {
    77% {
      margin-top: -500px;
    }
    7% {
      margin-top: 0px;
    }
    49% {
      margin-top: -300px;
    }
    91% {
      margin-top: -600px;
    }
    42% {
      margin-top: -300px;
    }
    100% {
      margin-top: 0px;
    }
    28% {
      margin-top: -200px;
    }
    35% {
      margin-top: -200px;
    }
    21% {
      margin-top: -100px;
    }
    84% {
      margin-top: -600px;
    }
    14% {
      margin-top: -100px;
    }
    63% {
      margin-top: -400px;
    }
    0% {
      margin-top: 0px;
    }
    70% {
      margin-top: -500px;
    }
    56% {
      margin-top: -400px;
    }
    98% {
      margin-top: 0px;
    }
  }
  @-o-keyframes hero-move {
    77% {
      margin-top: -500px;
    }
    7% {
      margin-top: 0px;
    }
    49% {
      margin-top: -300px;
    }
    91% {
      margin-top: -600px;
    }
    42% {
      margin-top: -300px;
    }
    100% {
      margin-top: 0px;
    }
    28% {
      margin-top: -200px;
    }
    35% {
      margin-top: -200px;
    }
    21% {
      margin-top: -100px;
    }
    84% {
      margin-top: -600px;
    }
    14% {
      margin-top: -100px;
    }
    63% {
      margin-top: -400px;
    }
    0% {
      margin-top: 0px;
    }
    70% {
      margin-top: -500px;
    }
    56% {
      margin-top: -400px;
    }
    98% {
      margin-top: 0px;
    }
  }
  @keyframes hero-move {
    77% {
      margin-top: -500px;
    }
    7% {
      margin-top: 0px;
    }
    49% {
      margin-top: -300px;
    }
    91% {
      margin-top: -600px;
    }
    42% {
      margin-top: -300px;
    }
    100% {
      margin-top: 0px;
    }
    28% {
      margin-top: -200px;
    }
    35% {
      margin-top: -200px;
    }
    21% {
      margin-top: -100px;
    }
    84% {
      margin-top: -600px;
    }
    14% {
      margin-top: -100px;
    }
    63% {
      margin-top: -400px;
    }
    0% {
      margin-top: 0px;
    }
    70% {
      margin-top: -500px;
    }
    56% {
      margin-top: -400px;
    }
    98% {
      margin-top: 0px;
    }
  }
  .cssanimations #header #hero li:first-child {
    -webkit-animation: hero-move 15s cubic-bezier(0, 0, 0, 0.995) 1s infinite normal none;
    -moz-animation: hero-move 15s cubic-bezier(0, 0, 0, 0.995) 1s infinite normal none;
    -ms-animation: hero-move 15s cubic-bezier(0, 0, 0, 0.995) 1s infinite normal none;
    -o-animation: hero-move 15s cubic-bezier(0, 0, 0, 0.995) 1s infinite normal none;
    animation: hero-move 15s cubic-bezier(0, 0, 0, 0.995) 1s infinite normal none;
    /* custom */
  
  }
}
@media (min-width: 768px) {
  #container {
    margin: 100px 10px;
    width: auto;
  }
  #header #hero {
    height: 210px;
  }
  #header #hero li {
    font-size: 71px;
    height: 71px;
    letter-spacing: -4px;
    padding: 60px 0;
    line-height: 71px;
  }
  #work {
    width: 100%;
    margin: 0;
  }
  #work a {
    height: 250px;
  }
  #work a span {
    font-size: 30px;
    letter-spacing: -2px;
    height: 30px;
    line-height: 30px;
    padding: 110px 0;
  }
  #contact {
    margin-top: -86px;
  }
  #contact #contact-details {
    padding: 15px 0;
    height: 30px;
    width: 600px;
  }
  #contact #contact-details * {
    font-size: 14pt;
    line-height: 22pt;
  }
  @-webkit-keyframes hero-move {
    77% {
      margin-top: -955px;
    }
    7% {
      margin-top: 0px;
    }
    49% {
      margin-top: -573px;
    }
    91% {
      margin-top: -1146px;
    }
    42% {
      margin-top: -573px;
    }
    100% {
      margin-top: 0px;
    }
    28% {
      margin-top: -382px;
    }
    35% {
      margin-top: -382px;
    }
    21% {
      margin-top: -191px;
    }
    84% {
      margin-top: -1146px;
    }
    14% {
      margin-top: -191px;
    }
    63% {
      margin-top: -764px;
    }
    0% {
      margin-top: 0px;
    }
    70% {
      margin-top: -955px;
    }
    56% {
      margin-top: -764px;
    }
    98% {
      margin-top: 0px;
    }
  }
  @-moz-keyframes hero-move {
    77% {
      margin-top: -955px;
    }
    7% {
      margin-top: 0px;
    }
    49% {
      margin-top: -573px;
    }
    91% {
      margin-top: -1146px;
    }
    42% {
      margin-top: -573px;
    }
    100% {
      margin-top: 0px;
    }
    28% {
      margin-top: -382px;
    }
    35% {
      margin-top: -382px;
    }
    21% {
      margin-top: -191px;
    }
    84% {
      margin-top: -1146px;
    }
    14% {
      margin-top: -191px;
    }
    63% {
      margin-top: -764px;
    }
    0% {
      margin-top: 0px;
    }
    70% {
      margin-top: -955px;
    }
    56% {
      margin-top: -764px;
    }
    98% {
      margin-top: 0px;
    }
  }
  @-ms-keyframes hero-move {
    77% {
      margin-top: -955px;
    }
    7% {
      margin-top: 0px;
    }
    49% {
      margin-top: -573px;
    }
    91% {
      margin-top: -1146px;
    }
    42% {
      margin-top: -573px;
    }
    100% {
      margin-top: 0px;
    }
    28% {
      margin-top: -382px;
    }
    35% {
      margin-top: -382px;
    }
    21% {
      margin-top: -191px;
    }
    84% {
      margin-top: -1146px;
    }
    14% {
      margin-top: -191px;
    }
    63% {
      margin-top: -764px;
    }
    0% {
      margin-top: 0px;
    }
    70% {
      margin-top: -955px;
    }
    56% {
      margin-top: -764px;
    }
    98% {
      margin-top: 0px;
    }
  }
  @-o-keyframes hero-move {
    77% {
      margin-top: -955px;
    }
    7% {
      margin-top: 0px;
    }
    49% {
      margin-top: -573px;
    }
    91% {
      margin-top: -1146px;
    }
    42% {
      margin-top: -573px;
    }
    100% {
      margin-top: 0px;
    }
    28% {
      margin-top: -382px;
    }
    35% {
      margin-top: -382px;
    }
    21% {
      margin-top: -191px;
    }
    84% {
      margin-top: -1146px;
    }
    14% {
      margin-top: -191px;
    }
    63% {
      margin-top: -764px;
    }
    0% {
      margin-top: 0px;
    }
    70% {
      margin-top: -955px;
    }
    56% {
      margin-top: -764px;
    }
    98% {
      margin-top: 0px;
    }
  }
  @keyframes hero-move {
    77% {
      margin-top: -955px;
    }
    7% {
      margin-top: 0px;
    }
    49% {
      margin-top: -573px;
    }
    91% {
      margin-top: -1146px;
    }
    42% {
      margin-top: -573px;
    }
    100% {
      margin-top: 0px;
    }
    28% {
      margin-top: -382px;
    }
    35% {
      margin-top: -382px;
    }
    21% {
      margin-top: -191px;
    }
    84% {
      margin-top: -1146px;
    }
    14% {
      margin-top: -191px;
    }
    63% {
      margin-top: -764px;
    }
    0% {
      margin-top: 0px;
    }
    70% {
      margin-top: -955px;
    }
    56% {
      margin-top: -764px;
    }
    98% {
      margin-top: 0px;
    }
  }
  .cssanimations #header #hero li:first-child {
    -webkit-animation: hero-move 15s cubic-bezier(0, 0, 0, 0.995) 1s infinite normal none;
    -moz-animation: hero-move 15s cubic-bezier(0, 0, 0, 0.995) 1s infinite normal none;
    -ms-animation: hero-move 15s cubic-bezier(0, 0, 0, 0.995) 1s infinite normal none;
    -o-animation: hero-move 15s cubic-bezier(0, 0, 0, 0.995) 1s infinite normal none;
    animation: hero-move 15s cubic-bezier(0, 0, 0, 0.995) 1s infinite normal none;
    /* custom */
  
  }
  .blog #content h2 {
    font-size: 20pt;
  }
  .blog #content #blog-entries li a {
    height: 110px;
  }
  .blog #content #blog-entries li a h3 {
    font-size: 16pt;
    line-height: 20pt;
  }
}
@media (min-width: 960px) {
  #container {
    margin: 100px auto;
    width: 960px;
  }
  #work {
    width: 940px;
    margin: 0 10px;
  }
  #work a {
    width: 470px;
    height: 300px;
  }
  #work a span {
    font-size: 40px;
    letter-spacing: -2px;
    width: 470px;
    height: 40px;
    line-height: 40px;
    padding: 130px 0;
  }
  #bio .span2 {
    margin-right: 40px;
    width: 440px;
  }
  #footer {
    padding: 0 10px 20px;
    margin-bottom: 30px;
  }
  #footer .span1 {
    padding: 0 25px 0 0;
    margin: 0;
    width: 220px;
  }
  #footer .span1:last-child {
    display: block;
    padding-right: 0;
  }
  .blog #content h2 {
    font-size: 24pt;
  }
  .blog #content #blog-entries li a {
    width: 420px;
    height: 130px;
  }
  .blog #content #blog-entries li a h3 {
    font-size: 18pt;
    line-height: 24pt;
  }
}
.csstransitions #content #work a span {
  -webkit-transition: opacity 500ms cubic-bezier(0, 0, 0, 0.995);
  -moz-transition: opacity 500ms cubic-bezier(0, 0, 0, 0.995);
  -ms-transition: opacity 500ms cubic-bezier(0, 0, 0, 0.995);
  -o-transition: opacity 500ms cubic-bezier(0, 0, 0, 0.995);
  transition: opacity 500ms cubic-bezier(0, 0, 0, 0.995);
  /* custom */

}
.csstransitions #contact {
  -webkit-transition: margin-top 500ms cubic-bezier(0, 0, 0, 0.995);
  -moz-transition: margin-top 500ms cubic-bezier(0, 0, 0, 0.995);
  -ms-transition: margin-top 500ms cubic-bezier(0, 0, 0, 0.995);
  -o-transition: margin-top 500ms cubic-bezier(0, 0, 0, 0.995);
  transition: margin-top 500ms cubic-bezier(0, 0, 0, 0.995);
  /* custom */

}
.svg .sprite {
  background-image: url(/assets/img/sprite.svgz);
  background-size: 40em 10em;
}
.svg .icon {
  display: inline-block;
  padding-left: 1.75em;
  height: 2em;
}
.svg .icon.icon-phone {
  background-position: -27em -4em;
}
.svg .icon.icon-pin {
  background-position: -27em -2em;
}
.svg .icon.icon-twitter {
  background-position: -27em 0em;
}
.svg .icon.icon-email {
  background-position: -27em -6.2em;
}
.svg .banner {
  display: block;
  width: 5em;
  height: 3em;
}
.svg .banner.banner-twitter {
  background-position: -12em 0;
}
.svg .banner.banner-blog {
  background-position: -17em 0;
}
.svg .banner.banner-github {
  background-position: -7em 0;
}
.svg .banner.banner-instagram {
  background-position: -22em 0;
}
.svg #contact a.banner-contact {
  bottom: -4.6em;
  right: -4em;
  width: 7em;
  height: 3.5em;
}
.no-svg .sprite {
  background-image: url(/assets/img/sprite.png);
  background-size: 640px 160px;
}
.no-svg .icon {
  display: inline-block;
  padding-left: 30px;
  height: 30px;
  margin-bottom: 7px;
}
.no-svg .icon.icon-phone {
  background-position: -432px -64px;
}
.no-svg .icon.icon-pin {
  background-position: -432px -30px;
}
.no-svg .icon.icon-twitter {
  background-position: -432px 0px;
}
.no-svg .icon.icon-email {
  background-position: -432px -98px;
}
.no-svg .banner {
  display: block;
  width: 80px;
  height: 48px;
}
.no-svg .banner.banner-twitter {
  background-position: -192px -1px;
}
.no-svg .banner.banner-blog {
  background-position: -272px -1px;
}
.no-svg .banner.banner-github {
  background-position: -112px -1px;
}
.no-svg .banner.banner-instagram {
  background-position: -352px -1px;
}
.no-svg #contact a.banner-contact {
  bottom: -81px;
  right: -64px;
  width: 112px;
  height: 56px;
}
