/* Reset */
/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html, body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* Colours */
/* Fonts */
.georgia {
  font-family: Georgia, serif;
}
.helvetica {
  font-family: Helvetica, Arial, sans-serif;
}
/* Less Classes */
/* Classes */
.absolute {
  display: block;
  position: absolute !important;
}
.bold {
  font-weight: bold !important;
}
.caps {
  text-transform: uppercase;
}
.clearfix {
  display: block;
  clear: both;
  width: 100%;
}
.fadeIn {
  -webkit-transition: all 750ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 750ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 750ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 750ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

  opacity: 0;
}
.fadeOut {
  -webkit-transition: all 750ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 750ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 750ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 750ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

  opacity: 0;
}
.fixed {
  display: block;
  position: fixed !important;
}
.grey {
  color: #999999;
}
.hide {
  display: none !important;
  visibility: hidden !important;
}
.italic {
  font-style: italic;
}
.left {
  display: block;
  float: left !important;
}
.noselect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.padding {
  padding: 10px;
}
.relative {
  display: block;
  position: relative !important;
}
.right {
  display: block;
  float: right !important;
}
.show {
  display: block;
  visibility: visible !important;
}
.top {
  z-index: 2147483647;
}
/* Structure Classes */
.list li {
  margin: 0 0 7px;
}
.tooltip {
  display: block;
  position: absolute !important;
  -webkit-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

  border-radius: 3px;
  text-shadow: 0px 1px 0px #000000;
  box-shadow: 0 0 5px #999999;
  pointer-events: none;
  background: #333333;
  padding: 5px;
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
  font-weight: bold !important;
}
.tooltip .point {
  display: block;
  position: absolute !important;
  border-radius: 0px;
  box-shadow: 0 0 0 transparent;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  padding: 0;
  border: 5px solid transparent;
  border-bottom: 5px solid #333333;
  margin: -15px 0 0 44%;
  background: transparent;
}
/* Tags */
body, html {
  margin: 0;
  padding: 0;
  background: #dddddd;
  background: -moz-linear-gradient(top, #dddddd, #f8f8f8);
  background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#f8f8f8));
  background: -webkit-linear-gradient(#dddddd, #f8f8f8);
  background: -o-linear-gradient(top, #dddddd, #f8f8f8);
  background: -ms-linear-gradient(top, #dddddd, #f8f8f8);
  background: linear-gradient(#dddddd, #f8f8f8);
  height: 100%;
  width: 100%;
}
a,
body,
div,
h1,
h2,
h3,
p,
li {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 9pt;
  line-height: 13pt;
  text-shadow: 0px 1px 0px #ffffff;
}
a {
  font-size: 9pt;
  line-height: normal;
}
a:link, a:visited {
  color: #666666;
  border-bottom: 1px solid #666666;
  text-decoration: none;
  -webkit-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

  -webkit-box-shadow: 0px 1px 0px #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
}
a:hover, a:active {
  color: #0080ff;
  border-bottom: 3px solid #0080ff;
  text-decoration: none;
  -webkit-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

  -webkit-box-shadow: 0px 1px 0px #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
}
a span.tooltip, li span.tooltip {
  margin-top: 0;
  -webkit-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

  opacity: 0;
}
a:hover span.tooltip, li:hover span.tooltip {
  margin-top: 10px;
  opacity: 1;
}
em {
  color: #999999;
  font-family: Georgia, serif;
  font-style: italic;
}
h1,
h2,
h3,
h4 {
  font-weight: bold !important;
  line-height: normal;
  letter-spacing: -2pt;
}
h1 {
  font-size: 24pt;
}
h2 {
  font-size: 18pt;
}
h3 {
  font-size: 16pt;
}
h4 {
  font-size: 13pt;
  letter-spacing: -1pt;
}
input, textarea {
  border: 2px solid #c88d35;
  padding: 5px 4px;
  font-size: 10pt;
  color: #666666;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
p {
  margin: 1em 0;
}
h1:first-child,
h2:first-child,
h3:first-child,
p:first-child {
  margin-top: 0;
}
strong {
  font-weight: bold !important;
}
/* Structure */
header {
  padding: 1em 2em;
}
header h1 {
  display: block;
  float: left !important;
  -webkit-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

}
header nav {
  display: block;
  float: right !important;
  letter-spacing: -1pt;
}
header nav li {
  display: inline;
  list-style: none;
}
header nav li a {
  font-size: 10pt;
  font-weight: bold !important;
  display: block;
  float: left !important;
  margin: 1em 0 0 1em;
}
#container #arrowleft {
  border-radius: 0px 10px 10px 0px;
}
#container #arrowright {
  border-radius: 10px 0px 0px 10px;
  right: 0;
}
#container #arrowleft, #container #arrowright {
  display: block;
  position: absolute !important;
  z-index: 2147483647;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background: -webkit-linear-gradient(#ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee);
  background: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background: linear-gradient(#ffffff, #eeeeee);
  -webkit-box-shadow: 0px 3px 3px #cccccc;
  box-shadow: 0px 3px 3px #cccccc;
  cursor: pointer;
  border: none;
  width: 100px;
  height: 60px;
  -webkit-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

}
#container #arrowleft span, #container #arrowright span {
  display: block;
  position: absolute !important;
  top: 17px;
  left: 30px;
  width: 50px;
  height: 26px;
  background: #cccccc;
}
#container #arrowleft span:before, #container #arrowright span:before {
  content: '';
  display: block;
  position: absolute !important;
  top: -7px;
  left: -12px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid #cccccc;
  border-bottom: 20px solid transparent;
}
#container #arrowright span {
  left: 20px;
}
#container #arrowright span:before {
  left: 42px;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-left: 20px solid #cccccc;
  border-bottom: 20px solid transparent;
}
#container #arrowleft:hover, #container #arrowright:hover {
  -webkit-box-shadow: 0px 3px 3px #999999;
  box-shadow: 0px 3px 3px #999999;
}
#container #arrowleft:hover {
  left: -10px;
}
#container #arrowright:hover {
  right: -10px;
}
#container #arrowleft:active, #container #arrowright:active {
  -webkit-transition: all 50ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 50ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 50ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 50ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee, #ffffff);
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
  background: -webkit-linear-gradient(#eeeeee, #ffffff);
  background: -o-linear-gradient(top, #eeeeee, #ffffff);
  background: -ms-linear-gradient(top, #eeeeee, #ffffff);
  background: linear-gradient(#eeeeee, #ffffff);
  -webkit-box-shadow: 0px 1px 3px #0080ff;
  box-shadow: 0px 1px 3px #0080ff;
}
footer {
  display: block;
  float: left !important;
}
footer > div {
  display: block;
  float: left !important;
  width: 30%;
  margin-left: 2em;
}
footer > div div.cols {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}
footer > div div.col {
  display: block;
  float: left !important;
  width: 45%;
}
footer > div div.col h4 {
  margin-top: 0;
}
footer > div div.col:first-of-type {
  margin-right: 10%;
}
/* Browser specific */
