/* Reset */
@import "reset.less";

/* Colours */
@colour_blue: #0080FF;
@colour_blue_dark: #0064c8;

/* Fonts */
.georgia
{
	font-family: Georgia, serif;
	font-weight: lighter !important;
}
.helvetica
{
	font-family: Helvetica, Arial, sans-serif;
}

/* Less Classes */
.animation(@name, @time:1s, @delay:0s) 
{
	-webkit-animation: @time @name @delay;
	-moz-animation: @time @name @delay;
	-ms-animation: @time @name @delay;
	-o-animation: @time @name @delay;
	animation: @time @name @delay;
}
.box-shadow(@colour:#000000, @xdir:0px, @ydir:1px, @blur:0px)
{
	box-shadow: @xdir @ydir @blur @colour;
}
.cols(@count:2, @gap:20px)
{
	-moz-column-count: @count;
	-moz-column-gap: @gap;
	-webkit-column-count: @count;
	-webkit-column-gap: @gap;
	column-count: @count;
	column-gap: @gap;
}
.corners(@radius:3px)
{
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
.ease(@prop:all, @time:1s)
{
	-webkit-transition-property: @prop;
	-webkit-transition-duration: @time;
	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition-property: @prop;
	-moz-transition-duration: @time;
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-o-transition-property: @prop;
	-o-transition-duration: @time;
	-o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	transition-property: @prop;
	transition-duration: @time;
	transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.glow(@colour:#000000, @size:5px, @x:0, @y:0)
{
	-webkit-box-shadow: @x @y @size @colour; 
	-moz-box-shadow: @x @y @size @colour; 
	box-shadow: @x @y @size @colour;
}
.gradient(@colour_from:#FFFFFF, @colour_to:#BBBBBB)
{
	background: @colour_to;
	background: -moz-linear-gradient(top, @colour_from, @colour_to);
	background: -webkit-gradient(linear, left top, left bottom, from(@colour_from), to(@colour_to));
	background: -webkit-linear-gradient(@colour_from, @colour_to);
	background: linear-gradient(@colour_from, @colour_to);
}
.transform(@trans)
{
	-webkit-transform: @trans;
       -moz-transform: @trans;
        -ms-transform: @trans;
         -o-transform: @trans;
            transform: @trans;
}
.text-shadow(@colour:#000000, @xdir:0px, @ydir:1px, @blur:0px)
{
	text-shadow: @xdir @ydir @blur @colour;
}

/* Classes */
.absolute
{
	display: block;
	position: absolute !important;
}
.bold
{
	font-weight: bold !important;
}
.caps
{
	text-transform: uppercase;
}
.clearfix
{
	display: block;
	clear: both;
	width: 100%;
}
.fadeIn
{
	.ease(opacity);
	opacity: 0;
}
.fadeOut
{
	.ease(opacity);
	opacity: 0;
}
.fixed
{
	display: block;
	position: fixed !important;
}
.grey
{
	color: #999999;
}
.hide
{
	display: none !important;
	visibility: hidden !important;
}
.italic
{
	font-style: italic;
}
.left
{
	display: block;
	float: left !important;
}
.noselect
{
	user-select: none; 
	-o-user-select: none; 
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none;
}
.padding
{
	padding: 10px;
}
.relative
{
	display: block;
	position: relative !important;
}
.right
{
	display: block;
	float: right !important;
}
.show
{
	display: block;
	visibility: visible !important;
}
.top
{
	z-index: 2147483647;
}

/* Structure Classes */
.list
{
	li
	{
		margin: 0 0 7px;
	}
}
.tooltip
{
	.absolute;
	.ease(e('opacity, margin-top'));
	.corners;
	.text-shadow(#000000);
	.glow(#999999);
	pointer-events: none;
	background: #333333;
	padding: 5px;
	margin-top: 10px;
	color: #ffffff;
	text-align: center;
	.bold;
	.top;
	
	.point
	{
		.absolute;
		.corners(0px);
		.glow(transparent,0,0,0);
		height: 0;
		width: 0;
		font-size: 0;
		line-height: 0;
		padding: 0;
		border: 5px solid transparent;
		border-bottom: 5px solid #333333;
		margin: -15px 0 0 44%;
		background: transparent;
	}
}

/* Tags */
body,
html
{
	.gradient(#dddddd, #f8f8f8);
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
a,
body,
div,
h1,
h2,
h3,
p,
li
{
	.helvetica;
	color: #333333;
	font-size: 9pt;
	line-height: 13pt;
	.text-shadow(#ffffff);
}
a
{
	font-size: 9pt;
	line-height: normal;
	text-decoration: none;
	.box-shadow(#ffffff);
	.ease(e('border-bottom, color'));
}
a:link,
a:visited
{
	color: #666666;
	border-bottom: 1px solid #666666;
}
a:hover,
a:active
{
	color: @colour_blue;
	border-bottom: 3px solid @colour_blue;
}
a,
li
{
	span.tooltip
	{
		margin-top: 0;
		opacity: 0;
	}
}
a:hover,
li:hover
{
	span.tooltip
	{
		margin-top: 10px;
		opacity: 1;
	}
}
em
{
	.grey;
	.georgia;
	.italic;
}
h1,
h2,
h3,
h4
{
	.bold;
	line-height: normal;
	letter-spacing: -2pt;
}
h1
{
	font-size: 24pt;
}
h2
{
	font-size: 18pt;
}
h3
{
	font-size: 16pt;
}
h4
{
	font-size: 13pt;
	letter-spacing: -1pt;
}
input,
textarea
{
	border: 2px solid #c88d35;
	padding: 5px 4px;
	font-size: 10pt;
	color: #666666;
	font-weight: bold;
}
h1,
h2,
h3,
h4,
p
{
	margin: 1em 0;
}
h1:first-child,
h2:first-child,
h3:first-child,
p:first-child
{
	margin-top: 0;
}
strong
{
	.bold;
}
/* Structure classes */
.loading
{
	opacity: 0;
}

/* Structure */
#page
{
	.ease(opacity);
}
#header
{
	padding: 1em 2em;
	
	h1
	{
		.left;
	}
	#nav
	{
		.right;
		letter-spacing: -1pt;
		
		li
		{
			display: inline;
			list-style: none;
			
			a
			{
				font-size: 10pt;
				.bold;
				.left;
				margin: 1em 0 0 1em;
			}
		}
	}
}
#container
{
	.left;
	width: 100%;
	
	#arrowleft
	{
		.corners( 0px 30px 30px 0px );
	}
	#arrowright
	{
		.corners( 30px 0px 0px 30px );
		right: 0;
	}
	#arrowleft,
	#arrowright
	{
		.absolute;
		.top;
		.gradient(#ffffff, #eeeeee);
		.box-shadow(rgba(0,0,0,.3), 0px, 3px, 3px);
		top: 250px;
		cursor: pointer;
		border: none;
		width: 100px;
		height: 60px;
		.ease(e('box-shadow, left, right'), 250ms);
		
		span
		{
			.absolute;
			top: 17px;
			left: 30px;
			width: 50px;
			height: 26px;
			background: #cccccc;
		}
		span:before
		{
			content: '';
			.absolute;
			top: -7px;
			left: -12px;
			width: 0;
			height: 0;
			border-top: 20px solid transparent;
			border-right: 20px solid #cccccc;
			border-bottom: 20px solid transparent;
		}
	}
	#arrowright
	{
		span
		{
			left: 20px;
			width: 49px;
		}
		span:before
		{
			left: 42px;
			border-top: 20px solid transparent;
			border-right: 20px solid transparent;
			border-left: 20px solid #cccccc;
			border-bottom: 20px solid transparent;
		}
	}
	#arrowleft:hover,
	#arrowright:hover
	{
		.box-shadow(rgba(0,0,0,.5), 0px, 3px, 3px);
	}
	#arrowleft:hover
	{
		left: -10px;
	}
	#arrowright:hover
	{
		right: -10px;
	}
	#arrowleft:active,
	#arrowright:active
	{
		.gradient(#eeeeee, #ffffff);
		.box-shadow(@colour_blue, 0px, 1px, 3px);
		
		span
		{
			background: @colour_blue;
		}
	}
	#arrowleft:active
	{
		span:before
		{
			border-right-color: @colour_blue;
		}
	}
	#arrowright:active
	{
		span:before
		{
			border-left-color: @colour_blue;
		}
	}
	#holder
	{
		.relative;
		height: 420px;
		
		ul
		{
			li
			{
				ul
				{
					.relative;
					margin: 10px 0 20px;
					
					li
					{
						.absolute;
						height: 400px;
						width: 600px;
						.corners;
						border: 2px solid #ffffff;
						.ease(e('background-size, transform, box-shadow'));
						.glow(rgba(0,0,0,.1), 10px);
						overflow: hidden;
						background-size: 100%;
						background-position: center center;
						
						span
						{
							.ease(bottom);
							.absolute;
							background: #ffffff;
							bottom: -400px;
							padding: 10px;
						}
						h3
						{
							.ease(opacity);
							.georgia;
							.italic;
							margin-bottom: 5px;
						}
						p
						{
							margin-bottom: 0;
						}
					}
					li:first-child
					{
						width: 400px;
						background-color: #ffffff;
						border: none;
						.corners(50%);
						.top;
						
						h3
						{
							opacity: 0;
							color: #ffffff;
							font-size: 30pt;
							font-weight: normal !important;
							text-align: center;
							margin: 177px 0;
							.text-shadow(@colour_blue);
						}
					}
					li:hover
					{
						background-size: 110%;
						
						h3
						{
							opacity: 1;
						}
						span
						{
							bottom: 0;
						}
					}
					li:first-child:hover
					{
						.transform( e('rotate(360deg)');
						.glow(rgba(0,0,0,.5), 10px);
					}
				}
			}
			li.leaveleft,
			li.leaveright,
			li.enter
			{
				pointer-events: none;
			}
			li.leaveleft
			{
				
			}
			li.leaveright
			{
				
			}
			li.enter
			{
				ul
				{
					li
					{
						top: 0;
						opacity: 0;
					}
					li:first-child
					{
						.relative;
						margin: 0 auto;
						.animation(enter-master, 2s);
					}
					li:nth-child(2),
					li:nth-child(3)
					{
						.animation(enter-children-left, 750ms, 1s);
					}
					li:nth-child(4),
					li:nth-child(5)
					{
						.animation(enter-children-right, 750ms, 1s);
					}
				}
			}
		}
	}
}
#footer
{
	.left;
	padding: 4em 0;
	
	> div
	{
		.left;
		width: 30%;
		margin-left: 2em;
		
		div.cols
		{
			.relative;
			.cols;
			
			a
			{
				position: relative;
			}
		}
		div.col
		{
			.left;
			width: 45%;
			
			h4
			{
				margin-top: 0;
			}
		}
		div.col:first-of-type
		{
			margin-right: 10%;
		}
	}
}
#loader
{
	.fixed;
	.ease(opacity);
	width: 100%;
	height: 100%;
	background: url(../image/ajax-loader.gif) center no-repeat;
}

/* Browser specific */

/* Animations */
@-webkit-keyframes enter-master
{
	to { opacity: 1; .transform( e('rotate(0deg) scale(1)') }
	from { opacity: 0; .transform( e('rotate(720deg) scale(0)') }
}
@-moz-keyframes enter-master
{
	to { opacity: 1; .transform( e('rotate(0deg) scale(1)') }
	from { opacity: 0; .transform( e('rotate(720deg) scale(0)') }
}
@-o-keyframes enter-master
{
	to { opacity: 1; .transform( e('rotate(0deg) scale(1)') }
	from { opacity: 0; .transform( e('rotate(720deg) scale(0)') }
}
@-webkit-keyframes enter-children-left
{
	0% { opacity: 0; .transform( e('rotate(-20deg) scale(0)') }
	75% { opacity: 1; .transform( e('rotate(20deg) scale(1)') }
	100% { opacity: 1; .transform( e('rotate(0deg)  scale(1)') }
}
@-moz-keyframes enter-children-left
{
	0% { opacity: 0; .transform( e('rotate(-20deg) scale(0)') }
	75% { opacity: 1; .transform( e('rotate(20deg) scale(1)') }
	100% { opacity: 1; .transform( e('rotate(0deg)  scale(1)') }
}
@-o-keyframes enter-children-left
{
	0% { opacity: 0; .transform( e('rotate(-20deg) scale(0)') }
	75% { opacity: 1; .transform( e('rotate(20deg) scale(1)') }
	100% { opacity: 1; .transform( e('rotate(0deg)  scale(1)') }
}
@-webkit-keyframes enter-children-right
{
	0% { opacity: 0; .transform( e('rotate(20deg) scale(0)') }
	75% { opacity: 1; .transform( e('rotate(-20deg) scale(1.2)') }
	100% { opacity: 1; .transform( e('rotate(0deg)  scale(1)') }
}
@-moz-keyframes enter-children-right
{
	0% { opacity: 0; .transform( e('rotate(20deg) scale(0)') }
	75% { opacity: 1; .transform( e('rotate(-20deg) scale(1.2)') }
	100% { opacity: 1; .transform( e('rotate(0deg)  scale(1)') }
}
@-o-keyframes enter-children-right
{
	0% { opacity: 0; .transform( e('rotate(20deg) scale(0)') }
	75% { opacity: 1; .transform( e('rotate(-20deg) scale(1.2)') }
	100% { opacity: 1; .transform( e('rotate(0deg)  scale(1)') }
}