/* Reset CSS */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
* {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* Fonts */
/* Less Classes */
.sprite {
  background: url(../image/sprite.png) no-repeat;
}
/* Classes */
.absolute {
  display: block;
  position: absolute !important;
}
.bold {
  font-weight: bold !important;
}
.caps {
  text-transform: uppercase;
}
.clearfix {
  display: block;
  clear: both;
  width: 100%;
}
.fixed {
  display: block;
  position: fixed !important;
}
.hide {
  display: none !important;
  visibility: hidden !important;
}
.italic {
  font-style: italic;
}
.left {
  display: block;
  float: left !important;
}
.noselect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.relative {
  display: block;
  position: relative !important;
}
.right {
  display: block;
  float: right !important;
}
.show {
  display: block;
  visibility: visible !important;
}
.top {
  z-index: 2147483647;
}
/* Structure Classes */
/* Tags */
* {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
body,
html {
  margin: 0;
  padding: 0;
  background: url(../image/bg.png);
}
body {
  border-top: 2px solid #0080ff;
  border-bottom: 2px solid #0064c8;
}
a,
body,
div,
h1,
h2,
h3,
p {
  font-family: Georgia, Times, sans;
  color: #333333;
  font-size: 10pt;
  line-height: 14pt;
  text-rendering: optimizeLegibility;
}
a {
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition-property: color;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition-property: color;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 10pt;
  line-height: normal;
  text-decoration: none;
}
a:link,
a:visited {
  color: #666666;
  border-bottom: 1px solid #666666;
}
a:hover {
  color: #999999;
  border-bottom: 1px solid #999999;
}
a:active {
  color: #0064c8;
  border-bottom: 1px solid #0064c8;
}
em {
  font-style: italic;
}
h1,
h2,
h3 {
  line-height: normal;
}
h1 {
  font-size: 22pt;
}
h2 {
  font-size: 18pt;
}
h3 {
  font-size: 16pt;
}
input,
textarea {
  border: 2px solid #c88d35;
  padding: 5px 4px;
  font-size: 10pt;
  color: #666666;
  font-weight: bold;
}
h1,
h2,
h3,
p {
  margin: 10px 0;
}
h1:first-child,
h2:first-child,
h3:first-child,
p:first-child {
  margin-top: 0;
}
strong {
  font-weight: bolder;
}
/* Media queries */
@media (min-width: 320px) {
  #container {
    display: block;
    position: relative !important;
    width: 100%;
  }
  #container header {
    display: block;
    position: relative !important;
    width: 100%;
  }
  #container header #logo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    position: relative !important;
    -webkit-transition-property: border-color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition-property: border-color;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition-property: border-color;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    transition-property: border-color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: 10px auto;
    border: solid 3px #dddddd;
    width: 81px;
    height: 81px;
  }
  #container header #logo:hover {
    border-color: #ffffff;
  }
  #container header nav {
    display: block;
    position: relative !important;
    margin: 0 auto 10px;
    text-align: center;
  }
  #container header nav a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition-property: border-color,background,color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition-property: border-color,background,color;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition-property: border-color,background,color;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    transition-property: border-color,background,color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    text-shadow: 0px 1px 0px #ffffff;
    border: 2px solid #dddddd;
    display: inline-block;
    padding: 5px 10px;
    font-size: 12pt;
    margin: 0 5px;
  }
  #container header nav a.selected {
    background: #0064c8;
    background-image: linear-gradient(bottom, #0064c8, #0080ff);
    background-image: -o-linear-gradient(bottom, #0064c8, #0080ff);
    background-image: -moz-linear-gradient(bottom, #0064c8, #0080ff);
    background-image: -webkit-linear-gradient(bottom, #0064c8, #0080ff);
    background-image: -ms-linear-gradient(bottom, #0064c8, #0080ff);
    text-shadow: 0px 1px 0px #333333;
    color: #eeeeee;
  }
  #container header nav a:hover {
    border-color: #ffffff;
    background: #ffffff;
  }
  #container header nav a:first-child {
    margin-left: 0;
  }
  #container header nav a:last-child {
    margin-right: 0;
  }
  #container #hero ul li {
    -webkit-transition-property: box-shadow, -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition-property: box-shadow, -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition-property: box-shadow, -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    transition-property: box-shadow, -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  #container #hero ul li img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #container #hero ul li:hover {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
  }
  #container #hero ul li:hover img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 480px) {
  #container header {
    padding: 0 20px;
    height: 101px;
  }
  #container header #logo {
    display: block;
    float: left !important;
  }
  #container header nav {
    display: block;
    float: right !important;
    width: auto;
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  
}
@media (min-width: 1024px) {
  
}
@media (min-width: 1200px) {
  
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .sprite {
    -moz-background-size: 500px 500px;
    -o-background-size: 500px 500px;
    -webkit-background-size: 500px 500px;
    background-size: 500px 500px;
    background-image: url(../image/sprite@2x.png);
  }
}
/* Browser specific */