/* Reset CSS */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,menu,article{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/* Less Classes */
.corners(@radius:5px)
{
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
.glow(@colour:#000000, @size:5px, @x:0, @y:0)
{
	-webkit-box-shadow: @x @y @size @colour; 
	-moz-box-shadow: @x @y @size @colour; 
	box-shadow: @x @y @size @colour;
}
.gradient(@colour_from:#FFFFFF, @colour_to:#BBBBBB)
{
	background: @colour_from;
	background: -moz-linear-gradient(top, @colour_from, @colour_to);
	background: -webkit-gradient(linear, left top, left bottom, from(@colour_from), to(@colour_to));
	background: -webkit-linear-gradient(@colour_from, @colour_to);
	background: linear-gradient(@colour_from, @colour_to);
}
.shadow(@colour:#000000, @dir:1px, @blur:0px)
{
	text-shadow: @dir @dir @blur @colour;
}
.sprite
{
	background: url(../image/sprite.png) no-repeat;
}

/* Classes */
.absolute
{
	display: block;
	position: absolute !important;
}
.bold
{
	font-weight: bold;
}
.caps
{
	text-transform: uppercase;
}
.clearfix
{
	display: block;
	clear: both;
	width: 100%;
}
.fixed
{
	display: block;
	position: fixed !important;
}
.hide
{
	display: none;
	visibility: hidden;
}
.italic
{
	font-style: italic;
}
.left
{
	display: block;
	float: left !important;
}
.noselect
{
	user-select: none; 
	-o-user-select: none; 
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none;
}
.reflect
{
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(255,255,255,0.2)));
}
.relative
{
	display: block;
	position: relative !important;
}
.right
{
	display: block;
	float: right !important;
}
.show
{
	display: block;
	visibility: visible;
}
.top
{
	z-index: 2147483647;
}

/* Structure Classes */

/* Tags */
*
{
	-webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	-moz-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	-o-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
body,
html
{
	margin: 0;
	padding: 0;
	.gradient(#006699,#0099cc);
}
a,
body,
div,
h1,
h2,
h3,
p
{
	font-family: Arial, sans-serif;
	color: #ffffff;
	font-size: 9pt;
	line-height: 13pt;
}
a
{
	font-size: 9pt;
	line-height: normal;
}
a:link,
a:visited
{
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	text-decoration: none;
}
a:hover,
a:active
{
	color: #ffffff;
	border-bottom: 1px dotted #ffffff;
	text-decoration: none;
	.shadow(#006699);
}
abbr
{
	border-bottom: 1px dotted #ffffff;
}
em
{
	.italic;
}
h1,
h2,
h3,
h1 a,
h2 a,
h3 a,
h4
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: normal;
	font-weight: bold;
	text-transform: capitalize;
	.shadow(#006699);
}
h1,
h1 a
{
	font-size: 22pt;
	letter-spacing: -2px;
}
h2,
h2 a
{
	font-size: 18pt;
	letter-spacing: -1px;
}
h3,
h3 a
{
	font-size: 14pt;
	letter-spacing: -1px;
}
h4
{
	font-size: 11pt;
	letter-spacing: 0px;
}
input,
textarea
{
	border: 2px solid #333333;
	padding: 5px;
	font-size: 9pt;
	color: #666666;
	font-weight: bold;
	.gradient(#f8f8f8, #eeeeee);
	.corners;
}
input:focus,
textarea:focus
{
	border-color: #006699;
	.glow(#006699);
}
h1,
h2,
h3,
p
{
	margin: 10px 0;
}
h1:first-child,
h2:first-child,
h3:first-child,
p:first-child
{
	margin-top: 0;
}
strong
{
	.bold;
}
ul
{
	li
	{
		list-style: disc;
		margin-left: 13px;
	}
}

/* Structure */
header
{
	.fixed;
	top: 0;
	width: 100%;
	padding: 7px 0 10px;
	.gradient(#333333, #111111);
	overflow: hidden;
	.top;
	.glow(#006699, 50px);
	
	h1
	{
		font-size: 14pt;
		letter-spacing: -1px;
		margin: 0;
		text-transform: none;
		.left;
		.shadow(#000000);
	}
	section
	{
		.absolute;
		right: 0px;
		
		nav
		{
			.left;
			
			a
			{
				.left;
				border: none !important;
				padding: 14px 10px;
				margin-top: -7px;
				
				span
				{
					.relative;
					border-color: transparent transparent #006699 transparent;
					border-style: solid;
					border-width: 10px;
					width: 0px;
					margin: 0 auto;
					opacity: 0;
				}
			}
			a:hover,
			a.selected
			{
				.shadow(#006699);
				
				span
				{
					opacity: 1;
				}
			}
		}
		form
		{
			.right;
			
			input
			{
				width: 150px;
			}
		}
	}
}
#container,
header div
{
	.relative;
	margin: 0 auto;
	max-width: 900px;
	min-width: 300px;
}
#container
{
	padding-top: 70px;
	
	#top
	{
		.large a,
		.mobile a
		{
			.corners;
			border: none;
		}
		.large a
		{
			width: 900px;
			height: 450px;
		}
		.mobile a
		{
			width: 300px;
			height: 150px;
		}
		#carousel
		{
			max-width: 900px;
			overflow: hidden;
			
			ul
			{
				height: 450px;
				
				li
				{
					.left;
					margin: 0;
					list-style: none;
					
					a
					{
						.relative;
						.reflect;
						
						h3
						{
							.absolute;
							bottom: 0;
							right: 20px;
						}
					}
				}
			}
		}
		#carousel_controls
		{
			.relative;
			padding-bottom: 40px;
			
			menu
			{
				.relative;
				margin: 0 auto;
				text-align: center;
				
				a
				{
					.left;
					.corners(10px);
					background: #ffffff;
					height: 8px;
					width: 8px;
					margin: 8px 3px;
				}
				a:hover,
				a.selected
				{
					background: #006699;
				}
			}
		}
	}
	#main
	{
		.clearfix;
		
		.col
		{
			.left;
			width: 275px;
			margin-left: 25px;
		}
		.col:first-child
		{
			margin: 0 !important;
		}
		.colleft
		{
			width: 580px;
			padding-right: 20px;
			margin: 0;
		}
		.colright
		{
			.right;
			width: 300px;
		}
	}
	footer
	{
		.relative;
		.clearfix;
		.corners(5px 5px 0 0);
		padding: 5px 10px;
		background: #333333;
		margin: 40px 0 0 0;
		
		p,
		a
		{
			font-size: 8pt;
			line-height: 11pt;
			color: #dddddd;
		}
		a:link,
		a:visited
		{
			border-bottom-color: #999999;
		}
	}
}
.home
{
	#container
	{
		#main
		{
			div:first-child
			{
				.col > div
				{
					.relative;
					
					h2:nth-child(2)
					{
						.absolute;
						top: 0;
						margin: 0;
						opacity: 0;
					}
					menu
					{
						.left;
					}
				}
				.col > div:nth-child(2)
				{
					margin-top: 20px;
				}
				.col
				{
					div
					{
						
					}
					div:hover
					{
						h2:first-child
						{
							opacity: 0;
						}
						h2:nth-child(2)
						{
							opacity: 1;
						}
					}
				}
				.col:not(:last-child)
				{
					menu
					{
						li
						{
							.left;
							margin: 0 15px 15px 0;

							a
							{
								.relative;
								.corners;
								.reflect;
								width: 290px;
								height: 145px;
								border: none;
								overflow: hidden;
								background-repeat: none;
								
								h3
								{
									.absolute;
									background: #006699;
									width: 100%;
									margin: 0;
									bottom: -50px;
									left: 0;
									padding: 4px 8px;
									font-size: 10pt;
								}
							}
							a:hover
							{
								.glow(#006699, 10px);

								h3
								{
									bottom: 0;
								}
							}
						}
						li:nth-child(2n)
						{
							margin-right: 0;
						}
					}
				}
				.col:first-child
				{
					width: 600px;
					padding-bottom: 20px;
				}
			}
			div:nth-child(2)
			{
				.col:last-child
				{
					width: 600px;
					padding-bottom: 20px;
				}
			}
		}
	}
}
.blog
{
	#container
	{
		#main
		{
			article
			{
				.relative;
				margin-bottom: 40px;
			}
			article:hover
			{
				.postmetadata
				{
					opacity: 1;
				}
			}
			article:last-of-type
			{
				margin-bottom: 20px;
			}
			.navigation
			{
				.left;
				margin-bottom: 20px;
			}
		}
	}
}
.blog,
.single
{
	.postmetadata
	{
		.relative;
		.corners(5px);
		.show;
		padding: 5px 10px;
		background: #333333;
		font-size: 8pt;
		opacity: 0;
		
		a
		{
			font-size: 8pt;
		}
	}
	.colright
	{
		li:not(:first-child) h3
		{
			margin-top: 20px;
		}
	}
}
.single .postmetadata
{
	.show;
	opacity: 1;
	margin-top: 20px;
}
footer,
.postmetadata
{
	span
	{
		.absolute;
		border-color: transparent transparent #333333 transparent;
		border-style: solid;
		border-width: 10px;
		width: 0px;
		top: -15px;
		left: 20px;
	}
}
.codecolorer-container
{
	table td.line-numbers div
	{
		color: #333333;
	}
}
.codecolorer, .codecolorer *, .codecolorer-container, .codecolorer-container *
{
	font-size: 9pt !important;
}
/* Browser specific */
.cssreflections
{
	#container #top
	{
		#carousel ul
		{
			height: 500px;

			a
			{
				.reflect;
			}
		}
		#carousel_controls
		{
			margin-top: -50px;
		}
	}
	.home #container #main div:first-child .col:not(:last-child) menu li
	{
		.reflect;
	}
}
@media screen and (min-width: 301px)
{
	#container
	{
		#top
		{
			#carousel
			{
				ul
				{
					.mobile
					{
						.hide;
					}
					.large
					{
						.show;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 300px)
{
	#container
	{
		#top
		{
			#carousel
			{
				ul
				{
					.mobile
					{
						.show;
					}
					.large
					{
						.hide;
					}
				}
			}
		}
	}
}